<app-search (searchEvent)="searchByTitle($event)" [searchAuthor]="searchAuthor" [publications]="publications"></app-search>
<div [hidden]="!(publications && publications.length > 0)" class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort matSortDisableClear aria-label="Publications Table">
    <!-- Date Column -->
    <ng-container matColumnDef="datetime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row">{{row.datetime | date:"dd MMM yyyy - hh:mm a"}}</td>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>Author</th>
      <td mat-cell *matCellDef="let row">{{row.author}}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let row">{{row.title}}</td>
    </ng-container>

    <!-- Body Column -->
    <ng-container matColumnDef="body">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let row">{{row.body}}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">

        <button mat-icon-button matTooltip="Edit" color="primary"
          (click)="editPublication(row)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Delete" color="primary"
          (click)="deletePublication(row.title)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 50]">
  </mat-paginator>
</div>

<div class="error-message" [hidden]="(publications && publications.length > 0)">
  Publications not found.
</div>