<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <app-author (searchEvent)="searchByAuthor($event)"></app-author>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon>menu</mat-icon>
      </button>
      Publications
      <button
        type="button"
        aria-label="Add publication"
        mat-icon-button
        matTooltip="Add Publication"
        (click)="addPublication()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </mat-toolbar>
    <app-publications [searchAuthor]="searchAuthor"></app-publications>
  </mat-sidenav-content>
</mat-sidenav-container>
